<div class="navbar bg-accent shadow-sm">
  <div class="flex-1">
    <a class="btn btn-accent border-0 text-xl logo" href="/">
      <span class="material-symbols-rounded">mood</span>
      mangaka
    </a>
  </div>
  <div class="flex gap-2">
    <input type="text" placeholder="Rechercher un manga" class="input input-bordered w-52 md:w-auto" />
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-accent border-0 btn-circle">
        <span class="material-symbols-rounded">menu</span>
      </div>
      <ul
        tabindex="0"
        class="menu dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li class="menu-title text-primary">Bonjour Jean,</li>
        <li><a [routerLink]="'/account/profile'">
          <span class="material-symbols-rounded">account_circle</span>
          Mon compte
        </a></li>
        <li><a [routerLink]="'/account/settings'">
          <span class="material-symbols-rounded">settings</span>
          Réglages
        </a></li>
        <li><a>
          <span class="material-symbols-rounded">logout</span>
          Se déconnecter
        </a></li>
      </ul>
    </div>
  </div>
</div>
