<div class="flex flex-col gap-4">
  <app-breadcrumb></app-breadcrumb>
  <div class="flex items-center justify-between">
    <h1>{{ title }}</h1>
    <div class="flex gap-2">
      <div class="tooltip" data-tip="Changer la vue">
        <button class="btn btn-soft btn-square" (click)="isList = !isList">
          <span class="material-symbols-rounded swap-off" *ngIf="!isList">view_list</span>
          <span class="material-symbols-rounded swap-on" *ngIf="isList">gallery_thumbnail</span>
        </button>
      </div>
      <button class="btn btn-primary">
        <span class="material-symbols-rounded">add_circle</span> Ajouter un livre
      </button>
    </div>
  </div>
  <div class="card border border-base-300">
    <div class="card-body grid grid-cols-4 gap-4" *ngIf="!isList">
      <div class="card border border-base-200 shadow hover:shadow-lg p-0" *ngFor="let book of books">
        <figure>
          <img
            class="aspect-9/12 w-full"
            [src]="book.cover"
            [alt]="book.title" />
        </figure>
        <div class="card-body p-4">
          <h2>{{ book.title }}</h2>
          <p class="badge badge-soft badge-neutral">
            <span class="material-symbols-rounded">photo_album</span> {{ book.scan_nb }} scans
          </p>
          <p class="badge badge-soft badge-secondary mb-4">
            <span class="material-symbols-rounded">book_2</span> {{ book.book_nb }} livres
          </p>
          <p class="text-xs">Progression : <b>{{ book.progress }}%</b></p>
          <progress class="progress {{ book.progress == 100 ? 'progress-success':'' }} " value="{{ book.progress }}" max="100"></progress>
          <div class="card-actions mt-4">
            <button class="btn btn-primary">
              <span class="material-symbols-rounded">menu_book</span>
              Voir les scans
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" *ngIf="isList">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>Nom du manga</th>
          <th></th>
          <th>Progression</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books">
          <td>
            <img
              class="aspect-9/12 w-16"
              [src]="book.cover"
              [alt]="book.title" />
          </td>
          <td><h2>{{ book.title }}</h2></td>
          <td>
            <p class="badge badge-soft badge-neutral">
              <span class="material-symbols-rounded">photo_album</span> {{ book.scan_nb }} scans
            </p>
            <p class="badge badge-soft badge-secondary ml-2">
              <span class="material-symbols-rounded">book_2</span> {{ book.book_nb }} livres
            </p>
          </td>
          <td>
            <progress class="progress {{ book.progress == 100 ? 'progress-success':'' }} " value="{{ book.progress }}" max="100"></progress>
            <p class="text-xs">{{ book.progress }}% lu</p>
          </td>
          <td>
            <button class="btn btn-primary">
              <span class="material-symbols-rounded">menu_book</span>
              Voir les scans
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

